In [4]:
# Task 18

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [5]:
# Solution1
data= pd.read_csv("possum.csv")

In [6]:
data.shape

(104, 14)

In [8]:
data.head

<bound method NDFrame.head of      case  site    Pop sex  age  hdlngth  skullw  totlngth  taill  footlgth  \
0       1     1    Vic   m  8.0     94.1    60.4      89.0   36.0      74.5
1       2     1    Vic   f  6.0     92.5    57.6      91.5   36.5      72.5
2       3     1    Vic   f  6.0     94.0    60.0      95.5   39.0      75.4
3       4     1    Vic   f  6.0     93.2    57.1      92.0   38.0      76.1
4       5     1    Vic   f  2.0     91.5    56.3      85.5   36.0      71.0
..    ...   ...    ...  ..  ...      ...     ...       ...    ...       ...
99    100     7  other   m  1.0     89.5    56.0      81.5   36.5      66.0
100   101     7  other   m  1.0     88.6    54.7      82.5   39.0      64.4
101   102     7  other   f  6.0     92.4    55.0      89.0   38.0      63.5
102   103     7  other   m  4.0     91.5    55.2      82.5   36.5      62.9
103   104     7  other   f  3.0     93.6    59.9      89.0   40.0      67.6

     earconch   eye  chest  belly
0        54.5  15.2   28.0   36.0
1        51.2  16.0   28.5   33.0
2        51.9  15.5   30.0   34.0
3        52.2  15.2   28.0   34.0
4        53.2  15.1   28.5   33.0
..        ...   ...    ...    ...
99       46.8  14.8   23.0   27.0
100      48.0  14.0   25.0   33.0
101      45.4  13.0   25.0   30.0
102      45.9  15.4   25.0   29.0
103      46.0  14.8   28.5   33.5

[104 rows x 14 columns]>

In [9]:
data.tail

<bound method NDFrame.tail of      case  site    Pop sex  age  hdlngth  skullw  totlngth  taill  footlgth  \
0       1     1    Vic   m  8.0     94.1    60.4      89.0   36.0      74.5
1       2     1    Vic   f  6.0     92.5    57.6      91.5   36.5      72.5
2       3     1    Vic   f  6.0     94.0    60.0      95.5   39.0      75.4
3       4     1    Vic   f  6.0     93.2    57.1      92.0   38.0      76.1
4       5     1    Vic   f  2.0     91.5    56.3      85.5   36.0      71.0
..    ...   ...    ...  ..  ...      ...     ...       ...    ...       ...
99    100     7  other   m  1.0     89.5    56.0      81.5   36.5      66.0
100   101     7  other   m  1.0     88.6    54.7      82.5   39.0      64.4
101   102     7  other   f  6.0     92.4    55.0      89.0   38.0      63.5
102   103     7  other   m  4.0     91.5    55.2      82.5   36.5      62.9
103   104     7  other   f  3.0     93.6    59.9      89.0   40.0      67.6

     earconch   eye  chest  belly
0        54.5  15.2   28.0   36.0
1        51.2  16.0   28.5   33.0
2        51.9  15.5   30.0   34.0
3        52.2  15.2   28.0   34.0
4        53.2  15.1   28.5   33.0
..        ...   ...    ...    ...
99       46.8  14.8   23.0   27.0
100      48.0  14.0   25.0   33.0
101      45.4  13.0   25.0   30.0
102      45.9  15.4   25.0   29.0
103      46.0  14.8   28.5   33.5

[104 rows x 14 columns]>

In [18]:
# check the number of columns present
data.columns

Index(['case', 'site', 'Pop', 'sex', 'age', 'hdlngth', 'skullw', 'totlngth',
       'taill', 'footlgth', 'earconch', 'eye', 'chest', 'belly'],
      dtype='object')

In [20]:
data.dtypes

case          int64
site          int64
Pop          object
sex          object
age         float64
hdlngth     float64
skullw      float64
totlngth    float64
taill       float64
footlgth    float64
earconch    float64
eye         float64
chest       float64
belly       float64
dtype: object

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      101 non-null    int64
 1   site      101 non-null    int64
 2   Pop       101 non-null    object
 3   sex       101 non-null    object
 4   age       101 non-null    float64
 5   hdlngth   101 non-null    float64
 6   skullw    101 non-null    float64
 7   totlngth  101 non-null    float64
 8   taill     101 non-null    float64
 9   footlgth  101 non-null    float64
 10  earconch  101 non-null    float64
 11  eye       101 non-null    float64
 12  chest     101 non-null    float64
 13  belly     101 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.8+ KB

In [22]:
data.describe()

,case,site,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,52.762376,3.673267,3.821782,92.730693,56.960396,87.269307,37.049505,68.398020,48.133663,15.050495,27.064356,32.638614
std,30.573894,2.366892,1.915182,3.518714,3.102679,4.196802,1.971681,4.413502,4.060352,1.058643,2.020722,2.727745
min,1.000000,1.000000,1.000000,82.500000,50.000000,75.000000,32.000000,60.300000,41.300000,12.800000,22.000000,25.000000
25%,26.000000,1.000000,2.000000,90.700000,55.000000,84.500000,36.000000,64.500000,44.800000,14.400000,25.500000,31.000000
50%,54.000000,4.000000,3.000000,92.900000,56.400000,88.000000,37.000000,67.900000,46.800000,14.900000,27.000000,32.500000
75%,79.000000,6.000000,5.000000,94.800000,58.100000,90.000000,38.000000,72.500000,52.000000,15.700000,28.000000,34.000000
max,104.000000,7.000000,9.000000,103.100000,68.600000,96.500000,43.000000,77.900000,56.200000,17.800000,32.000000,40.000000

In [ ]:
# Check for missng values
data.isna().sum()

case        0
site        0
Pop         0
sex         0
age         2
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    1
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [ ]:
# Drop the rows containing missng values

data.dropna(inplace=True)

In [ ]:
# confirm if there are stll any missing values
data.isna().sum()

case        0
site        0
Pop         0
sex         0
age         0
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    0
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [ ]:
# check the shape of the data
data.shape

(101, 14)

### **Descriptive Statistics**

In [27]:
data['age'].describe()

count    101.000000
mean       3.821782
std        1.915182
min        1.000000
25%        2.000000
50%        3.000000
75%        5.000000
max        9.000000
Name: age, dtype: float64

In [35]:
for i in data[['age', 'skullw', 'totlngth']]:
    print(i.describe())

AttributeError: 'str' object has no attribute 'describe'