In [4]:
# Task 18

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [5]:
# Solution1
data= pd.read_csv("possum.csv")

In [6]:
data.shape

(104, 14)

In [28]:
data.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [29]:
data.tail()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [9]:
# check the number of columns present
data.columns

Index(['case', 'site', 'Pop', 'sex', 'age', 'hdlngth', 'skullw', 'totlngth',
       'taill', 'footlgth', 'earconch', 'eye', 'chest', 'belly'],
      dtype='object')

In [10]:
data.dtypes

case          int64
site          int64
Pop          object
sex          object
age         float64
hdlngth     float64
skullw      float64
totlngth    float64
taill       float64
footlgth    float64
earconch    float64
eye         float64
chest       float64
belly       float64
dtype: object

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      104 non-null    int64
 1   site      104 non-null    int64
 2   Pop       104 non-null    object
 3   sex       104 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   104 non-null    float64
 6   skullw    104 non-null    float64
 7   totlngth  104 non-null    float64
 8   taill     104 non-null    float64
 9   footlgth  103 non-null    float64
 10  earconch  104 non-null    float64
 11  eye       104 non-null    float64
 12  chest     104 non-null    float64
 13  belly     104 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.5+ KB

In [12]:
data.describe()

,case,site,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,104.000000,104.000000,102.000000,104.000000,104.000000,104.000000,104.000000,103.000000,104.000000,104.000000,104.000000,104.000000
mean,52.500000,3.625000,3.833333,92.602885,56.883654,87.088462,37.009615,68.459223,48.130769,15.046154,27.000000,32.586538
std,30.166206,2.349086,1.909244,3.573349,3.113426,4.310549,1.959518,4.395306,4.109380,1.050374,2.045597,2.761949
min,1.000000,1.000000,1.000000,82.500000,50.000000,75.000000,32.000000,60.300000,40.300000,12.800000,22.000000,25.000000
25%,26.750000,1.000000,2.250000,90.675000,54.975000,84.000000,35.875000,64.600000,44.800000,14.400000,25.500000,31.000000
50%,52.500000,3.000000,3.000000,92.800000,56.350000,88.000000,37.000000,68.000000,46.800000,14.900000,27.000000,32.500000
75%,78.250000,6.000000,5.000000,94.725000,58.100000,90.000000,38.000000,72.500000,52.000000,15.725000,28.000000,34.125000
max,104.000000,7.000000,9.000000,103.100000,68.600000,96.500000,43.000000,77.900000,56.200000,17.800000,32.000000,40.000000

In [13]:
# Check for missng values
data.isna().sum()

case        0
site        0
Pop         0
sex         0
age         2
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    1
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [14]:
# Drop the rows containing missng values

data.dropna(inplace=True)

In [15]:
# confirm if there are stll any missing values
data.isna().sum()

case        0
site        0
Pop         0
sex         0
age         0
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    0
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [16]:
# check the shape of the data
data.shape

(101, 14)

### **Descriptive Statistics**

In [17]:
data['age'].describe()

count    101.000000
mean       3.821782
std        1.915182
min        1.000000
25%        2.000000
50%        3.000000
75%        5.000000
max        9.000000
Name: age, dtype: float64

In [18]:
# for i in data[['age', 'skullw', 'totlngth']]:
    # print(i.describe())

In [19]:
data['hdlngth'].describe()

count    101.000000
mean      92.730693
std        3.518714
min       82.500000
25%       90.700000
50%       92.900000
75%       94.800000
max      103.100000
Name: hdlngth, dtype: float64

In [20]:
data['skullw'].describe()

count    101.000000
mean      56.960396
std        3.102679
min       50.000000
25%       55.000000
50%       56.400000
75%       58.100000
max       68.600000
Name: skullw, dtype: float64

In [21]:
data['totlngth'].describe()

count    101.000000
mean      87.269307
std        4.196802
min       75.000000
25%       84.500000
50%       88.000000
75%       90.000000
max       96.500000
Name: totlngth, dtype: float64

In [22]:
data['taill'].describe()

count    101.000000
mean      37.049505
std        1.971681
min       32.000000
25%       36.000000
50%       37.000000
75%       38.000000
max       43.000000
Name: taill, dtype: float64

In [23]:
data['earconch'].describe()

count    101.000000
mean      48.133663
std        4.060352
min       41.300000
25%       44.800000
50%       46.800000
75%       52.000000
max       56.200000
Name: earconch, dtype: float64

In [24]:
data['eye'].describe()

count    101.000000
mean      15.050495
std        1.058643
min       12.800000
25%       14.400000
50%       14.900000
75%       15.700000
max       17.800000
Name: eye, dtype: float64

In [25]:
data['chest'].describe()

count    101.000000
mean      27.064356
std        2.020722
min       22.000000
25%       25.500000
50%       27.000000
75%       28.000000
max       32.000000
Name: chest, dtype: float64

In [26]:
data['belly'].describe()

count    101.000000
mean      32.638614
std        2.727745
min       25.000000
25%       31.000000
50%       32.500000
75%       34.000000
max       40.000000
Name: belly, dtype: float64